body{
    margin:0;
    padding:0;
    font-family: sans-serif;
}

*{
    padding:0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav{
    background:lightblue;
    height:80px;
    width: 100%;
}
label.logo{
    color: black;
    font-size: 35px;
    line-height: 80px;
    padding:0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right:20px;
}
nav ul li{
    display:inline-block;
    line-height: 80px;
    margin:0 5px;
}
nav ul li a{
    color: black;
    font-size: 17px;
    text-transform: uppercase;
}
a.activ,a:hover{
    background: #1b9bff;
    transition: .5s;
}
.sign-up-form{
    width: 300px;
    box-shadow:0 0 3px 0 rgba(0,0,0,0.3);
    background: #fff;
    padding:40px;
    margin:8% auto 0;
    text-align: center;
}
.sign-up-form h1{
    color: #1c8adb;
    margin-bottom:30px;
}
.input-box{
    border-radius:20px;
    padding:10px;
    margin:10px 0;
    width:100%;
    border: 1px solid #999;
    outline:none;
}
button{
    color:#fff;
    width:100%;
    padding:10px;
    border-radius:20px;
    font-size: 15px;
    cursor:pointer;
}
.signup-btn{
    background-color: #1c8adb;
}

p{
    text-align:center;
    color:black;
    font-size: 25px;

}
.wrap{
    width: 1000px;
    margin:auto;
    margin-top:100px;

}
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    transition: 0.4s;
    width:500px;
    background:#fff;
    text-align: center ;
    font-size: 14px;
    font-family: sans-serif;
    float:left;
    margin:10px;
}
.card:hover{
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)
}
.container{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding:20
}
.finder{
    width: 300px;
    box-shadow:0 0 3px 0 rgba(0,0,0,0.3);
    background: #fff;
    padding:40px;
    margin:8% auto 0;
    text-align: center;
}
.search-wrapper{
    display:flex;
    flex-direction: column;
    gap:.25rem;

}
input{
    font-size:1rem;

}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(70, 68, 68);
    border-radius: 4px;
    resize: vertical;
  }
  input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(70, 68, 68);
    border-radius: 4px;
    resize: vertical;
  }

  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

  input[type=submit] {
    background-color: rgb(37, 116, 161);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }

  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
