body{
    margin:0;
    padding:0;
    font-family: sans-serif;
}

*{
    padding:0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav{
    background:brown;
    height:80px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding:0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right:20px;
}
nav ul li{
    display:inline-block;
    line-height: 80px;
    margin:0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
}
a.activ,a:hover{
    background: #1b9bff;
    transition: .5s;
}
.sign-up-form{
    width: 300px;
    box-shadow:0 0 3px 0 rgba(0,0,0,0.3);
    background: #fff;
    padding:40px;
    margin:8% auto 0;
    text-align: center;
}
.sign-up-form h1{
    color: #1c8adb;
    margin-bottom:30px;
}
.input-box{
    border-radius:20px;
    padding:10px;
    margin:10px 0;
    width:100%;
    border: 1px solid #999;
    outline:none;
}
button{
    color:#fff;
    width:100%;
    padding:10px;
    border-radius:20px;
    font-size: 15px;
    cursor:pointer;
}
.signup-btn{
    background-color: #1c8adb;
}